# Copy to .env and edit values.

POSTGRES_USER=todo
POSTGRES_PASSWORD=todo123
POSTGRES_DB=todo_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

NODE_ENV=production

API_PORT=4000
CORS_ORIGIN=http://localhost:3000

WEB_PORT=3000
WEB_HOSTNAME=0.0.0.0
NEXT_PUBLIC_API_URL=http://localhost:4000
